.error-override {
    margin: 0;
    margin-bottom: 10px;
}

.error-override li {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.top-bar {
    margin-bottom: 20px;
}

.shuffleItem {
    width: 22.55555%;
    margin: 5px;
}

.signOutBtn {
    color: #ffffff;
}

.signOutBtn:hover {
    color: #ffffff;
}

.comment-text {
    font-size: 0.8em;
    margin-top: 10px;
}