.error-override {
    margin: 0;
    margin-bottom: 10px;
}

.error-override li {
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.top-bar {
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .shuffleItem {
        width: 90%;
        margin: 5px;
    }
}

@media (min-width: 640px) and (max-width: 1200px) {
    .shuffleItem {
        width: 47%;
        margin: 5px;
    }
}

@media (min-width: 1200px) {
    .shuffleItem {
        width: 30.555555%;
        margin: 5px;
    }
}

.signOutBtn {
    color: #ffffff;
}

.signOutBtn:hover {
    color: #ffffff;
}

.comment-text {
    font-size: 0.8em;
    margin-top: 10px;
}